# ========================
# Секреты и конфигурационные файлы
# ========================
.env
appsettings.Development.json

 
# ========================
# .NET / Visual Studio
# ========================
bin/
obj/
*.user
*.suo
.vs/
*.rsuser

# ========================
# VS Code
# ========================
.vscode/
 
# ========================
# Логи и временные файлы
# ========================
*.log
*.tmp
*.temp